.pricing {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Скрываем radio-кнопки */
.pricing input[type="radio"] {
  display: none;
}

/* Карточка по умолчанию */
.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: border 0.2s ease;
}

/* АКТИВНАЯ карточка */
.pricing input[type="radio"]:checked + .card {
  border: 2px solid green;
}
